[2017-03-24 13:27] rahulraibit opened #1 "HELP : Session and Token Expiry issues"
I created b2c-dotnet-webapp-and-webapi type application. But After 20 min or after sometime(nearly 30 min not sure) My WebApp is throwing exception during the Ajax call saying 401(Unauthorized). This exception is coming when ajax call hitting the WebApp controller So this error is coming from OWIN middleware not sure why.

**My Startup.cs settings are**

`
        public void ConfigureAuth(IAppBui

[2017-05-09 18:00] PatLac04 opened #2 "Sample is broken when upgrading MSAL to v1.1.0 Preview"
Since MSAL v1.1.0Preview is now available, I tried updating the sample to use it. The same code that is working with the previous alpha version now fails with:

*AADSTS70011: The provided value for the input parameter 'scope' is not valid. The scope https://mytenant.onmicrosoft.com/tasks/read https://mytenant.onmicrosoft.com/tasks/write offline_access openid profile is not valid.*

The scopes **of

[2017-05-09 18:14] NikolaosWakem commented on #2
I agree it would be great to have this example working!!

[2017-05-09 18:16] parakhj commented on #2
Thanks for letting us know! I'll investigate and update the sample.

[2017-05-09 18:19] NikolaosWakem commented on #2
Ideally a aspnetcore 1.1 working version too would be amazing!

[2017-05-09 22:50] PatLac04 commented on #2
The problem I was having is related to the fact that the AadInstance is different now. MSAL expect to find **tfp** in it. It's in the source code from the msal_update branch but it still requires multiple changes to work, it's a work in progress.

[2017-05-10 01:04] gsacavdm commented on #2
The samples has been updated to work with the latest version of MSAL.
See #3

[2017-05-10 01:04] #2 closed

[2017-05-15 10:53] NikolaosWakem opened #4 "Null token back from AcquireTokenSilentAsync"
make sure you don't use custom domains.. only xxx.onmicrosoft.com

[2017-05-15 17:08] gsacavdm commented on #4
Update to the readme with instructions on this are coming, adding @parakhj for visibility.
The UI is available, we just need to add those steps. Adding @parakhj for visibility.

In short, you need to [register scopes for your web API](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-app-registration#register-a-web-api) and then [grant permissions to your Web API to

[2017-05-15 17:33] NikolaosWakem commented on #4
Don't suppose you could give me a screenshot of the current setup of

Tenant: fabrikamb2c.onmicrosoft.com
Application: fdb91ff5-5ce6-41f3-bdbd-8267c817015d

I have tried to configure this numerous times from without success on my B2C :-(

![image](https://cloud.githubusercontent.com/assets/4430381/26070457/a7f68360-399c-11e7-8665-ce9e087a4f80.png)

![image](https://cloud.githubusercontent.com/asse

[2017-05-15 18:08] NikolaosWakem commented on #4
I setup an 2 x applications -

application 1) "TaskWebApp"
application 2) "TaskService"

is that ok? ...

![image](https://cloud.githubusercontent.com/assets/4430381/26071915/b6c598f4-39a1-11e7-91b5-01a0ce7e38e9.png)

i have this on the TaskService (api)

![image](https://cloud.githubusercontent.com/assets/4430381/26071957/ce2b775c-39a1-11e7-9e05-7f4c3c444f3a.png)

![image](https://cloud.githubuse

[2017-05-15 18:18] parakhj commented on #4
Everything looks right... you get the code as well. You get a null token after you do the exchange?

[2017-05-15 18:22] NikolaosWakem commented on #4
I get this during login

![image](https://cloud.githubusercontent.com/assets/4430381/26072501/9e48d424-39a3-11e7-9284-261cb36121e2.png)

and this when i click the task list button on GUI

![image](https://cloud.githubusercontent.com/assets/4430381/26072533/be505f26-39a3-11e7-9510-cf60a1a103a4.png)

[2017-05-15 18:59] parakhj commented on #4
This might be a caching issue. Could you open a different browser (private if necessary) and try using that? If it still fails, let me know.

[2017-05-15 19:37] NikolaosWakem commented on #4
new PC... different location..

![image](https://cloud.githubusercontent.com/assets/4430381/26075541/938e0928-39ad-11e7-840f-5f24da1458cf.png)

![image](https://cloud.githubusercontent.com/assets/4430381/26075764/5671d79e-39ae-11e7-9be0-4d6d059e7347.png)

chrome with incognito

![image](https://cloud.githubusercontent.com/assets/4430381/26075633/df2f436a-39ad-11e7-8f46-41675b7bf19f.png)

same prob

[2017-05-15 19:49] gsacavdm commented on #4
Did you also update your UseOpenIdConnectAuthentication setup, [Startup.Auth.cs#L85](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/blob/master/TaskWebApp/App_Start/Startup.Auth.cs#L85)?

[2017-05-15 19:51] NikolaosWakem commented on #4
same result on published version sadly

![image](https://cloud.githubusercontent.com/assets/4430381/26076277/25538886-39b0-11e7-80ba-80f558bfb742.png)

[2017-05-15 19:54] NikolaosWakem commented on #4
@gsacavdm yes, runing the latest code from this repo
![image](https://cloud.githubusercontent.com/assets/4430381/26076427/a3c36524-39b0-11e7-953a-bbb3e5524a01.png)

[2017-05-15 20:01] NikolaosWakem commented on #4
basically I just took the demo app.. make these changes and hit run.

<add key="ida:Tenant" value="identity.tradeteq.com" />
<add key="ida:ClientId" value="7a5416dd-cfeb-4d92-89ee-9845826dbf6d" />
<add key="ida:ClientSecret" value="fo1o:f3z7?[9s%E~" />
<add key="api:ApiIdentifier" value="https://identity.tradeteq.com/tasks/" />

[2017-05-15 20:02] parakhj commented on #4
Could you try removing all of the scopes other than ReadTasksScope and WriteTasksScope? It should return an error and hopefully the error message can give us some insight. I'll look into our logs in the meantime and see if I can find something

Parakh

[2017-05-15 20:17] NikolaosWakem commented on #4
with

![image](https://cloud.githubusercontent.com/assets/4430381/26077415/d9d210e0-39b3-11e7-8c20-2df68f77f8d1.png)

just get

![image](https://cloud.githubusercontent.com/assets/4430381/26077406/d192e666-39b3-11e7-9ffb-43bc05ad74ed.png)

[2017-05-16 06:24] allenhula commented on #4
Using same B2C tenant and same steps, this sample code works, but my asp.net core code doesn't work, always return NULL access token. Posted question on stackoverflow: [](http://stackoverflow.com/questions/43970669/failed-to-get-accesstoken-via-authorization-code-using-msal-1-1-0-preview-in-asp)
I checked the fiddler trace and found no different on the token request with authorization code.

[2017-05-16 06:39] allenhula commented on #4
I do found one difference, the process. This sample code is iisexpress, but my asp.net core is dotnet. Weird thing is I did debug my web app as IISEXPRESS. Does this matter?
![image](https://cloud.githubusercontent.com/assets/20550718/26092771/5d47570a-3a45-11e7-9404-b051940de077.png)

[2017-05-16 06:48] allenhula commented on #4
Provide more information of the request when using asp.net core in case needed:

[2017-05-16 07:27] NikolaosWakem commented on #4
I reckon MSAL needs a 'debug' mode or a 'throw exceptions' mode where it returns info about the problem/error, not just null in AccessToken.. The Sample code should check for 'null' in the AccessToken IMHO and not just blindly create the AuthenticationHeaderValue object if this is 'by design' behavior.

[2017-05-16 22:16] parakhj commented on #4
@allenhula  your client ID's look different:

client_id=7f865ca0-271e-4f27-be21-6f0072fe3ad7
client_id=b1e7f41a-f4be-4f80-9519-18294f084221

Can you double check its configured correctly?

[2017-05-16 22:16] parakhj commented on #4
@NikolaosWakem

Can you post your feedback as an issue in the MSAL library repo?

[2017-05-17 01:51] allenhula commented on #4
@parakhj I registered different clients in B2C tenant separately for the sample code and my asp.net core project. So that's expected.

To be more clear, below are my topology:

Tenant: hulab2c.onmicrosoft.com
Sample code project registration:
- Web App client id: b1e7f41a-f4be-4f80-9519-18294f084221
- Web Api id url: https://hulab2c.onmicrosoft.com/tasks (published scopes are read, write)
My asp.n

[2017-05-17 01:58] allenhula commented on #4
@parakhj I see there is a client-request-id in the get token request, is it able to use it to check on server side for detailed failure reason?
My asp.net core project request:

[2017-05-17 06:09] NikolaosWakem commented on #4
@allenhula please let me know if you get the .net 4.5 or .netcore 1.1 working against your own B2C.. I need .aspnetcore to work for my codebase, but can't even get the 4.5 demo app to work on my B2C

[2017-05-18 09:47] allenhula commented on #4
@NikolaosWakem my .net 4.5 works very well using the sample code as I stated before. Just .netcore doesn't work. I guess our failure reason is different.

[2017-05-18 09:54] NikolaosWakem commented on #4
There is a .netcore version here https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp but i get same problem on both :-(

[2017-05-18 15:42] yoelhor opened #5 "AcquireTokenByAuthorizationCodeAsync throw “client info is null” error"
I'm using AAD B2C **custom** policy based on '[SocialAndLocalAccounts](https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/tree/master/SocialAndLocalAccounts)', setting the AAD applications and encryption keys as mention [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom). While running the application it seems B2C

[2017-05-19 08:49] allenhula commented on #4
I Finally found out my failure reason: the request to get AuthorizationCode doesn't contain the target scope. Reflect in code, for OpenIdConnectOption in aspnetcore, the Scope parameter is readonly and its default value is "opened profile".
![image](https://cloud.githubusercontent.com/assets/20550718/26239903/a17d622a-3cb1-11e7-897d-787a29dd8280.png)
The authorization code request sent:

Thus, usi

[2017-05-19 08:58] allenhula commented on #4
@NikolaosWakem Suggest you to use Fiddler to capture the request and check what's missing in your environment.

[2017-05-20 00:21] #4 closed

[2017-05-20 03:19] parakhj commented on #5
@yoelhor

Please update your custom policy...

Add the following line:
`<Item Key="SendTokenResponseBodyWithJsonNumbers">true</Item>`
in your 'JwtIssuer' technical profile (it should be in your base file).

Final result:

        <TechnicalProfile Id="JwtIssuer">
          <DisplayName>JWT Issuer</DisplayName>
          <Protocol Name="None" />
          <OutputTokenFormat>JWT</OutputTokenFormat>

[2017-05-20 04:55] gsacavdm commented on #5
Starter pack for custom policies has also been updated. Closing this issue.

[2017-05-20 04:55] #5 closed

[2017-05-20 18:23] yoelhor commented on #5
I changed the JWT issuer technical profile with the required metadata you mention, now the values indeed in numeric format (and not string any more) and the demo web app works well. I just wanted to take a moment to sincerely thank you for all of your help and assistance.

Yoel

[2017-05-22 05:24] parakhj commented on #1
@rahulraibit sorry for the late response. Did you get your issue resolved?

[2017-05-30 20:40] #1 closed

[2017-06-06 12:47] andrewchilcott opened #6 "Owin Environment missing SessionId"
I have downloaded the sample, built it and it worked. I substituted my tenant details and I was still able to login.

I then copied the various pieces of code over into my current project. Login fails with a null object reference    at MSALSessionCache.ReadUserStateValue - httpContext.Session is null.

This is passed in at line 144 of StartupAuth.cs and is derived from notification.OwinContext.Env

[2017-06-06 13:21] andrewchilcott commented on #6
Update:
In the SignUpSignIn code for my WebForms project context.Session.SessionID is a valid id.

at that point context.GetOwinContext().Environment["System.Web.HttpContextBase"].Session.SessionId also returns the valid session id. To the sessionId is being cleared somewhere between the authentication challenge and the receipt of the authorization code.

[2017-06-23 20:26] monty-dev opened #7 "Unable to authenticate to API & access to-do list function of application"
I am having issues starting the sample application and accessing the To Do List section of the app.

The error I receive is -
We're having trouble signing you in.
Error. Status code = InternalServerError

I am able to login to the application successfully, but not able to access the to do list function.
I think the issue stems from the PublishedScopes. In the documentation, it does not tell which

[2017-06-23 23:22] parakhj commented on #7
"I created values 'read','write','user_impersonation' and granted the web app access"

That part seems to be correct. You also modified the ApiIdentifier in the code, which is good. There isn't anything else you need to configure. Are you sure your service is running on localhost:44332?

[2017-06-26 13:57] som-nitjsr opened #8 "facing issue while uisng authorization_code"
{"error":"invalid_grant","error_description":"AADB2C90085: The service has encountered an internal error. Please reauthenticate and try again.\r\nCorrelation ID: 4810f417-400c-4410-a312-00f528dd4490\r\nTimestamp: 2017-06-26 13:53:28Z\r\n"}

[2017-06-26 18:01] parakhj commented on #8
Just to verify that you didn't accidentally delete an app required for B2C to work, can you:

1.	Go to your Azure AD B2C tenant, and in the very left hand navigation, click on the arrow for “More services”.
2.	Search for and click on “App registrations”
3.	Double check to see if you have an app that starts with “b2c-extensions-app”

[2017-06-27 05:07] som-nitjsr commented on #8
thnx it worked.

[2017-06-27 05:07] #8 closed

[2017-06-27 17:37] parakhj commented on #8
Out of curiosity,  do you know how the app got deleted?

[2017-06-28 04:24] som-nitjsr commented on #8
not sure how it got deleted.

[2017-07-05 19:30] spottedmahn opened #9 "Error reading to do list: Null user was passed in AcquiretokenSilent API. Pass in a user object or call acquireToken authenticate."
I've gotten my the web app and my ad tenant working so that I'm able to sign-in/create users.

I've verified this by reviewing my claims:

![image](https://user-images.githubusercontent.com/14079228/27881127-8a0f40fa-6195-11e7-83dc-785e7b5ed13a.png)

Now I'm trying to get the api going.  When I visit the tasks view I get:

I see that user is null and it shouldn't be based upon the error message I

[2017-07-05 21:31] spottedmahn opened #10 "Bad Request - Request Too Long"
Upon signing into my tenant I'm receiving:

HTTP Error 400. The size of the request headers is too long.

Attached is the full request: [Bad Request - Request Too Long.txt](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/files/1126084/Bad.Request.-.Request.Too.Long.txt)

The first few sign-ins worked.  I'm not sure what exactly changed to make it stop working.  Any t

[2017-07-05 22:07] spottedmahn commented on #9
I've noticed that if I go through the **entire sign-in** progress `user` will not be NULL.

`user` will only be NULL when I restart the app.  When I the browser opens, it see's me as signed in but apparently that's not enough.

### Repro Steps

1. Startup WebApp from VS
1. Sign-in to the app
1. Verify `user` is not null (by going to the task list)
1. Stop the app in VS
1. Start the app backup in V

[2017-07-06 00:52] parakhj commented on #9
I believe that is due to the "dumbness" of the sample - the MSAL session cache is stored in memory. When you kill the app, it loses the cache. But since the cookie remains stored in your browser, when you start the app again and browse to the site, the cookie which contains a valid token authenticates you in, but then you can't get further since the cache is gone.

[2017-07-06 00:52] #9 closed

[2017-07-06 01:00] parakhj commented on #10
Each time you sign in, it's storing more cookies in your browser. Since the domain is the same, the browser sends all of the cookies, including the stale ones. This is blowing up the cookie header fields and making the headers too long. To fix it, just clear your cookies. If you're testing your setup, I would recommend using a private browser.

[2017-07-06 01:00] #10 closed

[2017-07-06 14:53] spottedmahn opened #12 "How To Persist Token Cache in a Web Farm?"
Is there any documentation on say [docs.microsoft.com](http://docs.microsoft.com) on how to **properly** handle persisting the token cache?  How would one handle this in a web-farm?  I found this for [ADAL](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/token-cache), is there an equivalent for MSAL?

Reference: #9

[2017-08-26 08:48] rari2012 opened #13 "Error: Sending the request from Localhost don't work"
Hi,
i'm working on Win10 with VS 2015 running your sample.
Many thanks for this excellent way of showing how Azure B2C is working to secure an API.

I'm running the example local. I managed to get logging in to the website. But the request will not send because of SSL issues in localhost.

Has anyone a suggest how to fix that?

Many thanks in advance,
regards,
Ralf

[2017-08-28 11:01] rari2012 opened #14 "ClientID in Service is descriped as API Key but must be APP Key"
Regarding the Compare in the Service during authorisation, the clientID is meant to be the APP ID in Azure B2C and not the API Azure B2C ID.

[2017-08-28 22:57] parakhj commented on #13
There shouldn't be any SSL related issues when it comes to making requests to the API. Could you expand a bit more or provide a screenshot/error?

[2017-08-29 09:12] daniel-leibold opened #16 "AuthenticationResult.AccessToken is null in OnAuthorizationCodeReceived"
Great demo so far.

I`ve configured the app like the walkthrough mentioned but when the OnAuthorizationCodeReceived is called **no AccessToken** will be received (empty).

The Policies are working fine. I can login and change some settings. However accessing the Tasks Service does not work and returns an "Unauthorized" on the screen when clicking on ToDo-List.

1. When i try to dig into the docume

[2017-08-29 20:18] parakhj commented on #16
This sample has two projects inside it (TasksService and TasksWebApp). NaiveSessionCache should be in the TaskWebApp project. The link you gave points to a different project altogether.

The App ID URI should be what you defined it to be in the Azure Portal

[2017-09-01 19:59] RobARichardson commented on #10
My organization and our clients are regularly seeing this issue.  We use Azure AD w/ the Office 365 Suite of apps, Visual Studio Team Services, Azure Portal, and an Azure AD B2C instance.  When using all of these applications at once in a browser, we encounter this error regularly. Clearing cookies is okay once in a while but gets annoying quickly.  Furthermore, we can't also expect our customer w

[2017-09-04 11:45] phatcher opened #18 "Can/should OpenIdConnectCachingSecurityTokenProvider be fault tolerant"
Copied from https://github.com/AzureADQuickStarts/B2C-WebApp-WebAPI-OpenIDConnect-DotNet/issues/9#issuecomment-323183755 as @parakhj says the old sample will be deprecated...

Issue I had today was my API couldn't connect to Azure B2C, during startup which caused a yellow screen with the API.

[code]
Given that we are making an RPC call which can fail, does it make sense for the policy acquisition

[2017-09-07 15:40] spottedmahn commented on #10
@RobARichardson I don't know if you'll get much traction on this thread...

FYI, I just hit this error today using portal.azure.com.  [I posted it to SO](https://stackoverflow.com/questions/46100272/azure-portal-bad-request-request-too-long).  Hopefully, some more insights will come out of it.

When I got the error originally, I figured I need to do more work in my app to prevent this.  But today,

[2017-09-14 19:45] dblaszyk opened #19 "Using something else beside IIS Express, trying to use Azure"
I have been messing around with some internal changes to the sample code, with no success outside of the IIS Express setup.  My hope is that one could place TaskService and TaskWebApp into an Azure Web App service (or localhost) and update the code to point to your own AD B2C instance.

But, I have had no success in using either a localhost setup, or a setup on azurewebsites.net.  I did change the

[2017-09-15 11:53] MrCharli3 opened #20 "Error. We're having trouble signing you in. Please sign in again. Unauthorized"
When I try to Access the To-do list I get the following message.

It finds my claim just fine, and it says I'm signed in.

Web.config:

    <add key="ida:Tenant" value="b2cmax.onmicrosoft.com" />
    <add key="ida:ClientId" value="2f4c85d0-6471-4080-a73c-b7e7811f273b" />
    <add key="ida:ClientSecret" value="--removed--" />
    <add key="ida:AadInstance" value="https://login.microsoftonline.com/t

[2017-09-16 06:37] gsacavdm commented on #10
@RobARichardson , @spottedmahn , I replied to the StackOverflow post. Nothing to useful unfortunately given that there isn't a great answer today.

Summary:
* Long term answer is [custom domains](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/15334317-customer-owned-domains), that's in the works, vote for it.
* In the interim, clear cookies (lame, yes)
* Alternatively,

[2017-09-18 04:46] parakhj commented on #19
Are you getting an error of some sort? In your code, I notice the commented line: **https://localhost/TaskService** Is your web api running at that path?

[2017-09-18 05:12] parakhj commented on #20
Not sure what message you are seeing. Could you repaste it?

Yes, you will need to make changes to your TaskService Web Config. You need to update it with your B2C configuration (e.g. the client ID of the Web API app registration, your tenant name)

[2017-09-18 05:57] MrCharli3 commented on #20
@parakhj The Error-message I get is in the title :) Or did you mean something else?
Okay, but in the walktrough where you link to this GitHub project there is nothing about modifying the TaskService Web Config? Or did I miss it?

[2017-09-18 10:52] dblaszyk commented on #19
I have tracked the bug down to the following issue, OWIN Startup is not running when run on localhost and when I publish to Azure.  All works well with IIS Express.  Here are several articles that I have tracked down with the same issue, but not specific to this code:

  *   https://forums.asp.net/t/1973872.aspx?Owin+startup+under+IIS+not+working+but+works+under+IIS+express
  *   https://www.googl

[2017-09-18 10:55] dblaszyk commented on #19
It is a run-time issue, not compile time.

[2017-09-18 21:10] parakhj commented on #19
Ah this is beyond my expertise :( @jmprieur might be able to help?

[2017-09-18 21:21] parakhj commented on #20
There are multiple pages linking to this repo, depending on what you are trying to achieve. Check out the readme of this repo

[2017-09-18 22:47] ElvisLives commented on #10
@parakhj @gsacavdm

- Voted for custom domains.  (An eta would be nice on this.)
- Clearing cookies is an unrealistic solution for a normal user.  Should we tell our users to log in incognito to access our apps?  (**How could this issue be closed when it is a production issue that doesn't just affect devs/engineers?**)
- The number of claims we have is almost the bare minimum.  (Less than 7 total

[2017-09-19 10:04] jmprieur commented on #19
@dblaszyk : what is the error code ?
Did you add a Reply URL for your deployed web site in the App registration in the Azure AD B2C directory?

Also I suggest you post your question on Stack Overflow. you will probably have answers quicker:
https://stackoverflow.com/questions/tagged/azure-web-sites ?

[2017-09-19 12:43] dblaszyk commented on #19
I will move the thread to Stack Overflow.  Thanks for the help, my investigation has lead me to the absolute requirement that ALL Reply Url's need a trailing slash(/) character for the code to work.  This causes some unwelcome side effects, which I am trying to debug.

[2017-09-19 12:43] #19 closed

[2017-09-19 14:12] dblaszyk commented on #19
Please note:  I think in general if you are calling a WebApi destination, the redirect URL MUST go to the root of the site, it does not seem to like going to a destination Application, similar to https://localhost/TaskService/.

From: Jean-Marc Prieur [mailto:notifications@github.com]
Sent: Tuesday, September 19, 2017 6:05 AM
To: Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi <active-

[2017-09-19 15:20] gsacavdm commented on #10
Totally understand where you guys are coming from. Clearing the cookies is meant for the scenario where it happens to devs, which has been the majority of the reported cases so far. But again, no argument that clearing cookies is (to put it mildly) an undesirable experience for end users.

I believe (I'll let @parakhj chime in on this as I'm not on the B2C team anymore) that custom domains is one

[2017-09-19 18:34] parakhj commented on #10
Agreed with @gsacavdm above. Custom domains (the ability for you to choose your domain) is hitting a few technical issues, so we are working to enable a new domain that B2C tenants can run on (something like b2clogin.com). This will be shipped earlier than custom domains, so that you won't see the cookies issues that you are noticing on login.microsoftonline.com. I would vote [this feature](https:

[2017-09-19 19:25] ElvisLives commented on #10
@parakhj @gsacavdm  Thanks guys for the quick responses.  Makes sense why it's closed for this sample.  Cheers.

[2017-09-22 23:42] saraford commented on #20
@MrCharli3 Hello! 👋 I just made some updates to the readme earlier today that show step-by-step how to register both apps (the web app and the web api) in the Azure portal and how to configure both VS projects (i.e. the sample apps available in the solution in this repo) to use your tenant.

Please take a look and let us know if you still have any questions! Thanks!

[2017-09-22 23:44] saraford commented on #16
@daniel-leibold Hi! :wave: I just made some changes to the readme earlier today to provide more step-by-step instructions. Let us know if you're still having any issues. Thanks! 😄

[2017-10-05 21:23] stokes770 opened #22 "Works for Demo Env, but not for my B2C"
I'm able to run the demo environment as expected.

Running against my own B2C tenant, I'm unable to get an AccessToken from AcquireTokenByAuthorizationCodeAsync.   AccessToken is always null.

The glaring difference I can see is that one of my resulting claims are different.

1. The demo environment has the default policy under a claim type "http://schemas.microsoft.com/claims/authnclassreference"

[2017-10-05 22:47] parakhj commented on #22
Not sure what you mean by:

The policy should be under the claim 'tfp'. What did you enter in your scopes?

[2017-10-05 22:58] stokes770 commented on #22
The claim type was different in the demo vs my own B2C.

Either way, I just figured out the step I missed.
I hadn't added the new published scopes under API Access.

Thanks for the reply, sorry for the churn.

[2017-10-05 22:58] #22 closed

[2017-10-06 12:40] dblaszyk commented on #20
Please note, I saw this when I forgot the trailing /, for the api:ApiIdentifier.

.. key="api:ApiIdentifier" value="https://forexample.onmicrosoft.com/myapi"

Must be
.. key="api:ApiIdentifier" value="https://forexample.onmicrosoft.com/myapi/"

Since the scopes are created by appending the security token, I was getting myapiread, as opposed to myapi/read in the code example.

[2017-10-06 21:05] saraford commented on #20
@dblaszyk Thanks for calling this out! I've added a quick :memo: in the readme to verify that the trailing `/` has been added to the `ApiIdentifier`.

[2017-10-06 21:21] bhagyashrichhapwale commented on #1
@rahulraibit Were you able to find a solution for this? I am facing a similar issue.Except sometimes i get this error within 10 mins.

[2017-10-10 00:04] kalelgwapo commented on #13
Hi,

I've downloaded the solution and encountered almost the same issue.

Steps to replicate:

1. Download the solution
2. Opened the solution (adminstrator)
3. Followed the demo steps (multiple start up)
4. Prompted by Visual Studio regarding SSL and IIS Express.
5. Selected OK to all

When browser opens up localhost, error occured.

![image](https://user-images.githubusercontent.com/1221371/3136

[2017-10-10 19:23] DerekChasse opened #23 "Integration testing examples."
Could we please get some examples of writing and running integration tests against Web API's which leverage Azure AD B2C?

The following does a good job describing the general concept of integration testing Web API's, however falls short of testing with authentication enabled not to mention Azure Active Directory B2C.

https://docs.microsoft.com/en-us/aspnet/core/testing/integration-testing

Thank

[2017-10-23 21:50] dolphinsd opened #24 "sample fails to run"
Download and run sample from the top. Result is IIS crash on startup.
![siteerror](https://user-images.githubusercontent.com/3460517/31914908-6ee3aa38-b801-11e7-86ab-cda2af513447.png)

[2017-10-23 22:54] dolphinsd commented on #24
IIS was not enabled:) Maybe more user friendly message?

[2017-10-23 22:54] #24 closed

[2017-11-05 16:07] gsacavdm commented on #13
Looks like the website is not running at all... are you seeing any errors anywhere? Anything that helps understand what's going on?

[2017-11-24 13:43] rahulraibit commented on #1
@bhagyashrichhapwale Sorry for late response. Still I am facing the same issue. Let me know if you have find any solution for it.

[2018-01-22 10:03] pkmahapatra opened #25 "Hosting in IIS 7"
Hello all,
I am using visual studio 2015 and IIS Express for the development and everything works as expected. But when I switch the server to Local IIS (under the properties of TaskWebApp) it starts throwing the following exception -
![image](https://user-images.githubusercontent.com/31986903/35215146-699f0750-ff89-11e7-8b00-dc1a7a932beb.png)

InvalidOperationException: IDX10803: Unable to create

[2018-02-14 19:58] onionhammer opened #26 "Very outdated sample"
These samples utilize an older version of Owin/microsoft identitymodel

What's the latest guidance on how to authenticate against B2C from a NON- aspnet core app?

[2018-02-15 17:00] #12 closed

[2018-03-07 13:45] NikolaosWakem opened #27 "B2C adding &diags= <long text> to URLs "Bad Request - Request Too Long""
Hi,

Anyone know why and how to turn off B2C adding

&diags={"pageViewId":"dd1046f8-44b7-46cf-9357-7213956dc62e","pageId":"ClaimsProviderSelection","trace":[{"ac":"T005","acST":1520424416,"acD":1},{"ac":"T021 - URL:https://xxxxx/idpSelector.html","acST":1520424416,"acD":49},{"ac":"T029","acST":1520424416,"acD":42},{"ac":"T004","acST":1520424416,"acD":2},{"ac":"T019","acST":1520424416,"acD":65},{"a

[2018-03-19 19:27] vazans opened #28 "WebApi Updated to latest Microsoft.Owin.Security.* packages and cannot find IIssuerSecurityTokenProvider inteface"
Hi, I was running properly on protecting the WebApi with AD B2C AuthBearer token, after I upgraded to latest packages of Microsoft.Owin.Security.*  I cannot find the definition for IIssuerSecurityTokenProvider anymore but when I try to use IIssuerSecurityKeyProvider instead of IIssuerSecurityTokenProvider I am running into a whole host of other issues.
Can somebody point me in the correct directio

[2018-03-19 19:48] vazans commented on #28
@parakhj @phatcher , I see both of you have a similar issue, Do you have any fix for this - Thanks

[2018-03-19 21:59] phatcher commented on #28
@vazans The Azure B2C team are not very communicative - the roadmap is updated very infrequently and they don't keep us informed of what's happening at all.

They are also not very responsive to change in my opinion, e.g. we've been waiting for over 18 months for on-behalf of flows and we still have to use ADAL 2 to talk to Graph API which is well behind the current versioning.

I'd suggest revert

[2018-03-20 14:15] vazans commented on #28
Thanks @phatcher, I will revert back, we also updated the .net framework so might be a rats nest there trying to revert back just these packages.
@parakhj if you are listening Please help us out here, updating packages and no documentation on new packages make it really hard for me to trust this offering.
I will KEEP this one OPEN until get an actual resolution.

[2018-03-20 14:23] parakhj commented on #28
I had noticed @phatcher's comment and flagged it. I have been working to get some resources committed to improving our samples. If there is a list of issues that you would urgently want fixed, please let me know. I can get those prioritized first

[2018-03-21 19:19] vazans commented on #28
@parakhj nice to see you addressing issues, what I need urgently should be very simple, In the samples give here what needs to change after all packages are moved latest and .net is 4.7

@parakhj Please answer these simple 2 steps and this will save a ton of time.
Environment: .net 4.7/Web API 2.1/All packages updated to latest stable versions.
1) In file startup.auth.cs, how do we register an app

[2018-03-22 18:42] vazans commented on #26
@onionhammer , I have also opened the same issue here https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues/28
with more details and getting traction from @parakhj , Please follow that Issue.
Also if you had found a working code, Please update me as well @vazans would be very useful,

[2018-03-22 18:51] vazans commented on #28
I have put a detailed request of what I need above,
Can any one you help? @saraford @gsacavdm @microsoftopensource @rari2012 @spottedmahn @danieldobalian @parakhj - Reg How to use protect an .net WebApi 2.1(.net framework > 4.7) with AD B2C, The code shown in sample is outdated and does not work with latest packages, Please help.
I have given full details as comment above.

[2018-03-22 19:43] spottedmahn commented on #28
Hi @vazans - I'm not sure exactly, sorry.

I do so [this PR comment](https://github.com/aspnet/AspNetKatana/pull/21#pullrequestreview-54487723) related to changing `IIssuerSecurityKeyProvider.Tokens` to `IIssuerSecurityKeyProvider.SecurityKeys`.

[2018-03-23 22:11] spottedmahn commented on #28
Hi @vazans - I was able to get the TaskService updated.  It compiles now but I **haven't** tested it yet.

The source code is [here](https://github.com/spottedmahn/active-directory-b2c-dotnet-webapp-and-webapi/tree/vazans/TaskService).

Apparently the package reference to `Microsoft.IdentityModel.Protocol.Extensions` is old.  [Source](https://github.com/AzureAD/azure-activedirectory-identitymodel-

[2018-03-26 13:39] spottedmahn commented on #28
Hi @vazans - I've updated the web app too.  I've managed to test it and it appears to be working fine ⚡.

![image](https://user-images.githubusercontent.com/14079228/37909420-dcbc4f60-30d8-11e8-86e9-3b9b093e48ee.png)

The branch with the changes is [here](https://github.com/spottedmahn/active-directory-b2c-dotnet-webapp-and-webapi/tree/vazans).

[2018-03-26 16:20] vazans commented on #28
Thanks @spottedmahn , will try this today and close when works.

[2018-03-26 16:59] spottedmahn commented on #28
Cool @vazans.  FYI, I submitted a cleaner PR #29 than the branch reference above.

[2018-03-27 15:32] phatcher commented on #28
@spottedmahn/@vazans I've managed to get my code working but my code uses the BootstrapContext to push the JWT token down to the API.

I noticed that there's a breaking change in that the identity's BoostrapContext is no longer a BootstrapContext but just the JWT token itself - is this intended or a bug in the Microsoft.Identity.Client code?

[2018-03-27 16:03] spottedmahn commented on #28
Hey @phatcher - I'm not familiar w/ [BootstrapContext](http://www.cloudidentity.com/blog/2012/11/30/using-the-bootstrapcontext-property-in-net-4-5-2/).  Seems like you doing this [Access the JWT bearer token when using the JWT middleware in ASP.NET Core](https://www.jerriepelser.com/blog/aspnetcore-jwt-saving-bearer-token-as-claim/) but in OWIN, correct?

[2018-03-27 16:03] phatcher commented on #28
Once this change is committed I'll submit a PR to lift out some common code and improve the base ideas - I know this is a sample but it should be a bit cleaner.

[2018-03-27 16:04] phatcher commented on #28
@spottedmahn Yes, that's correct, AFAIK that was the only way to do it in the earlier versions of the libraries

[2018-03-27 16:15] spottedmahn commented on #28
@phatcher gotcha.  Maybe posting an issue here: [AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues) would be a good idea as they are the creators of `TokenValidationParameters`.

Or maybe it would be a function of OWIN so posting here: [aspnet/AspNetKatana](https://github.com/aspnet/AspNetK

[2018-03-27 16:29] spottedmahn commented on #28
Using idea 1 from [here](https://www.jerriepelser.com/blog/aspnetcore-jwt-saving-bearer-token-as-claim/), you can add it as claim manually.

[code]

### Add Claim on SecurityTokenValidated
![image](https://user-images.githubusercontent.com/14079228/37980794-0288389e-31ba-11e8-8bd7-b1498fcc54fe.png)

### Get IdToken Example

![image](https://user-images.githubusercontent.com/14079228/37980827-0fb49

[2018-03-27 16:40] phatcher commented on #28
I'm not sure that survives for the duration of the session or just for the request that authenticates it i.e. when I land on a new page in the same session TokenValidated won't be called again and I'm not sure whether user-assigned claims are persisted in the cookie; I went through something like this about 18 months ago when this first came out.

I've avoided scopes etc in the MVC app, apart from

[2018-03-27 17:23] spottedmahn commented on #28
It is getting persisted between requests.  `OnSecurityTokenValidated` is only called once as you suspected.  It must be writing this claim to the cookie then.

https://localhost:44316/Home/Claims

![image](https://user-images.githubusercontent.com/14079228/37983516-b3dd0186-31c1-11e8-9083-f4afaf252852.png)

[Source Code](https://github.com/spottedmahn/active-directory-b2c-dotnet-webapp-and-webapi/

[2018-03-28 17:15] phatcher commented on #28
The BootstrapContext has been changed to a string due to .NET Core not having BootstrapContext - see https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/897

Would be nice to have some documentation/rationale as to why bother with the TokenCache etc in the MVC app rather than just pushing the JWT down to the API.

[2018-03-29 10:38] phatcher commented on #28
@vazans @spottedmahn I remember why I didn't bother with tokens/scopes, the documentation https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oidc says that the only resource supported is the application itself...

"Currently, the only resource that you can request a token for is your app's own back-end web API. The convention for requesting a token to yourse

[2018-03-29 13:41] vazans commented on #28
@spottedmahn @phatcher, I moved to other pressing priorities here at work, but I have a working code that I think should 1) works on latest packages, .net 4.7 2) work without Owin 3) separate Authen/Authorization essentially [Autorize] would only validate Authentication. Authorization can be custom based on claims in the prinicipal.
Not Tested this yet, so give me a week and I will post the tested

[2018-04-04 05:12] #27 closed

[2018-04-04 06:47] parakhj commented on #26
Updated the sample. Closing issue

[2018-04-04 06:47] #26 closed

[2018-04-05 00:50] parakhj commented on #28
@spottedmahn helped us update the sample. Thanks @spottedmahn! Please check out the update and let me know if you find any other issues. Closing this one for the time being.

[2018-04-05 00:50] #28 closed

[2018-04-05 20:54] immayankmodi opened #31 "How can we get email on successful authentication using OpenIdConnect?"
I'm using following options for OpenIdConnectAuthenticationOptions object but not getting Email or profile data in success response.

Thanks!

[2018-04-16 16:56] clmyers opened #32 "Bad Request - Request Too Long HTTP Error 400. The size of the request headers is too long."
Upon signing into my tenant I'm receiving:

Bad Request - Request Too Long
HTTP Error 400. The size of the request headers is too long.

There was another issue for this but it was closed due to a feature that was coming soon.  The issue itself has not been resolved and support has said we should open a new ticket.  Thanks!

[2018-04-17 13:59] lla23 opened #33 "Logged In user identifier"
Hi,

How can I recuperate the GUID of the logged in user in a controller of the app ? What's the code?

Thanks
Rgds

[2018-04-19 10:15] lla23 opened #34 "Issues after authentication page"
I experience all sorts of issues after I have logged in with e-mail address and pw. The page sometimes doesn't come back, it's bouncing between microsoft authentication website and the application. Sometimes it comes back with message "Error. We're having trouble logging you in" with no more explanation. this time I get the same with following explanation: "IDX21323: RequireNonce is '[PII is hidde

[2018-04-19 11:34] lla23 commented on #34
This error seems to be only on the To-do List page, not on the claims page

[2018-04-19 11:35] lla23 commented on #34
![image](https://user-images.githubusercontent.com/31790808/38989238-ac5e9e5e-43c5-11e8-9f69-d610faf50a0a.png)

[2018-04-19 20:51] lla23 commented on #7
Have you found the issue? I'm experiencing the same, and also on Azure webapps, so it can't be the localhost service. This seems to me like a bug or performance issue of aad b2c.

[2018-04-21 07:52] lla23 commented on #34
Sometimes the error is directly on the sign-up sign-in page. I found the code to continuously loop in the fillowing:
`        public void SignUpSignIn()
        {
            // Use the default policy to process the sign up / sign in flow
            if (!Request.IsAuthenticated)
            {
                HttpContext.GetOwinContext().Authentication.Challenge();
                return;

[2018-04-21 08:02] lla23 commented on #34
Browser keeps bouncong on the following request, is there something wrong with it?
`https://login.microsoftonline.com/te/mytenant.onmicrosoft.com/b2c_1_signupin/oauth2/v2.0/authorize
?client_id=b290ee9e-550a-4578-aeb7-1c8b7826b4d9
&redirect_uri=https%3A%2F%2Fauth-webapp.azurewebsites.net%2F
&response_mode=form_post
&response_type=code%20id_token
&scope=openid%20profile%20offline_access%20https%3A%

[2018-05-08 06:33] JimBobSquarePants opened #35 "Asp.NET Core"
This repo is linked directly from documentation specific to ASP.NET Core.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c-webapi?view=aspnetcore-2.1

See link **Call a .NET web API from a .NET web app using Azure AD B2C.** below the code sample within **Next Steps** section)

Yet the codebase here is targeting the full NET Framework and legacy MVC. I've yet to fi

[2018-05-08 12:34] franzuca commented on #6
Hi, could you resolve this issue? I'm having exactly the same problem.

Thanks!

[2018-05-08 19:39] andrewchilcott commented on #6
franzuca - I never resolved this and as it was taking so much of my time I abandoned the project until I had some spare time to work on it. If you do discover a solution, please let me know

[2018-05-08 19:59] franzuca commented on #6
I've found some answers that says that the problem is the moment on the IIS Integrated Pipeline Stage when you try to access the HttpContext.Session.

https://stackoverflow.com/questions/37920879/httpcontext-current-session-is-null-owin

This answer makes sense, and I was able to use it on a new project, but not on my existing project. This last one always execute the middleware on a Pipeline Stag

[2018-05-25 02:28] markriemann opened #36 "TaskService.TasksController ln36 db is empty"
db is initialized on ln17 to a new list<Models.Task>, but I don't see anywhere db is getting loaded with tasks.

I do have Azure AD Web API setup with scopes for read and write.
I updated the web.config.

When i click on "To-Do List" on the web app, when I debug on the task service on TasksController ln 36, db is an empty list. I would think this would contain all scope options.

Not sure what I'm

[2018-05-29 12:22] vetrivelmp opened #37 "Getting accesstoken from TaskWebApp but from TaskService it returns 401"
Hello All,

I am getting proper accesstoken inside webapp. but when i pass to service in bearer token, it returns 401.
Please help me it is urgent case for us.

[2018-05-31 17:50] markriemann commented on #36
I mixed up the to-do tasks with the scopes of the AD.

[2018-05-31 17:50] #36 closed

[2018-07-04 21:42] salvatore-garrubba opened #38 "Caching issuer and keys from the metadata endpoint"
Hello all,

I've implemented the _OpenIdConnectCachingSecurityTokenProvider_  but I'm wondering why all the time we need to make a call to retrieve the keys and the issuer from the metadata endpoint:

https://login.microsoftonline.com/{TENANT}.onmicrosoft.com/v2.0/.well-known/openid-configuration?p={POLICY}

As far as I know, the keys contains the public key that never changes and the issuer is al

[2018-07-06 21:02] poebrand commented on #34
Seems like this is related to: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/915

[2018-07-18 09:08] mkarpuk commented on #38
The overall implementation of the `OpenIdConnectCachingSecurityTokenProvider` looks suspicious to me. It uses `ReaderWriterLockSlim`, but acquires WRITE lock on each request to the property which does not look like the right way to use locks. I would say that this class should be corrected to properly use locks and actually do the caching

[2018-07-20 07:27] Muddasarr commented on #20
I followed all the instructions but when i try to access the to-do-list it gives this error
 **Error. We're having trouble signing you in. Please sign in again. Unauthorized**
Although i am already signed in. Kindly see the attached code below:
`<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientVali

[2018-07-27 21:47] ggirard07 commented on #38
@salvatore-garrubba Microsoft is rotating the keys periodically. That's why [they advise in their docs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-tokens#validate-the-signature) to refresh those every 24h.

If you look at the actual implementation of [`ConfigurationManager.GetConfigurationAsync`](https://github.com/AzureAD/azure-activedirectory-ident

[2018-08-03 04:47] weznagwama opened #39 "Verbosity for ID claims match not sufficient"
Not really an issue (first github contribution sorry), but when attempting to match `objectidentifier` claim in the api\TasksController.cs, to a JWT where the claim doesn't exist, bombs out with a non-descriptive error.

We can add better error handling/checking here so it's more clear for people new to oath, like me :)

Note: I'm forking and creating a PR around this.

[2018-08-08 11:09] GaryTosh commented on #35
Couldn't agree more with this request... really struggling to get this working with .net core 2.1.

Securing the web app is easy.... it's the getting of the access_token to past over to the api that's proving difficult.

We have managed to get it working using this example https://github.com/chrispadgettlivecom/WebApp-OpenIDConnect-DotNetCore21 but this seems to reinvent the wheel a bit.

[2018-08-22 00:08] eflamm opened #42 "\TaskWebApp\App_Start\Startup.Auth.cs needs a Using System.Net;"
Build Solution throws an error on line 54 because ServicePointManager and SecurityProtocoTypel are in System.Net

[2018-08-28 00:27] #42 closed

[2018-09-02 02:24] ShannonHaas opened #44 "httpContext.Session is null in MSALSessionCache.Load"
I have successfully setup the sample with my own Tenant. It is working well. When I create my own project from scratch and replicate every single thing down to the exact same dll's, it fails to reproduce the same results as the sample did. It fails when trying to Deserialize the HttpContext.Session within the MSALSessoCache Class, Load method. If I comment out the deserialize I can see that I am g

[2018-09-04 16:35] asmithKinegdo commented on #44
I have the exact same issue.  When converting a project that already had aspnet auth it worked fine, but starting from scratch and adding to a project fails in MSALSessionCache load

[2018-09-04 17:18] asmithKinegdo commented on #44
Just figured out that using msal 2.0 preview was causing my issues.  This cost me days of work!

[2018-09-04 18:05] ShannonHaas commented on #44
Hi @asmithKinegdo, are you referring to the Microsoft.Identity.Client dll. I originally had mine at the 2.0 prerelease and I downgraded to 1.1.4.0 version and no luck. What exact version did you downgrade to. It appears that the original sample is running 1.1.0.0

[2018-09-04 18:27] ShannonHaas commented on #44
@asmithKinegdo Looks like downgrading to Microsoft.Identity.Client dll version 1.1.0.0 did the trick. I do not know about 1.1.1.0, 1.1.2.0, or 1.1.3.0... already wasted days with this one. Thank you @asmithKinegdo

[2018-09-04 20:08] parakhj commented on #44
Apologies for the inconvenience. This is a known issue: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/604

[2018-09-05 02:44] ShannonHaas commented on #44
@parakhj I did see #604 and it is the reason I downgraded to 1.1.4.0. It did not work until I went to 1.1.0.0.

[2018-09-25 14:40] IyyappanAmirthalingam commented on #44
Downgrading  Microsoft.Identity.Client dll version to 1.1.0.0  is also giving the Session Null with .Net 4.7.2 Framework.

[2018-10-02 08:28] dustynl commented on #44
Hey @IyyappanAmirthalingam ... did you find a solution to the Session Null issue yet? I'm having the exact same problem. Also lost more than a day already :(

[2018-11-08 18:28] dkchittimilla opened #46 "Azure B2C built in policies - Bad request"
Hi Team,

Currently we are using Azure B2C built in policies for signin, signup and logout. Sometimes, while navigating to these pages, we are getting "Bad request" and application getting down. Can you please guide me on how to handle this situation.
Below is the URL we captured in browser network.

https://login.microsoftonline.com/xxxx.xxxx.com/B2C_1_DEV_SignIn/api/CombinedSigninAndSignup/confi

[2018-11-27 10:22] vipswelt opened #47 "Single Sign out is not working"
I have two .Net MVC applications where i have to mantain same session and end session on both apps on a single app getting signou, sometime its working fine locally but something is wrong when i published my app to azure. here is my code snippet as below

**StartUpAuth:**

    public partial class Startup
    {
        // App config settings
        public static string ClientId = ConfigurationMan

[2018-12-13 02:54] parakhj commented on #44
@jennyf19 and @jmprieur  is there something in addition that needs to be done in 2.6>

[2018-12-13 15:59] jmprieur commented on #44
cc: @henrik-me (ASP.NET session perturbated by MSAL)
@parakhj : I'll try to have a look, but won't be before Tuesday next week.

[2018-12-13 17:32] jondmcelroy commented on #35
It is also pointing to the MSAL 1.1.0-preview library, when we are now up to 2.6.0-preview. Would love for this to get an update.

[2018-12-18 20:15] asmithKinegdo commented on #44
I'm still having this issue with 2.6, as well,  I have a asp.net identity project that I converted and that project won't even work with 1.1.4.0

[2019-01-11 00:20] becke-ch-s0-v1 opened #48 "This B2C quick-start/tutorial implementation is not correct aligned with Set redirect URLs to b2clogin.com for Azure Active Directory B2C"
Hi, the b2c quick-start/tutorial implementation see "https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-quickstarts-web-app" respective download here "https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/archive/master.zip" is not correct aligned and still using "login.microsoftonline.com" see https://docs.microsoft.com/en-us/azure/active-dir

[2019-01-16 15:33] #38 closed

[2019-01-18 11:46] cainellinFTC opened #49 "InvalidOperationException: IDX20803: in TaskService"
OpenIdConnectConfiguration config = Task.Run(_configManager.GetConfigurationAsync).Result in RetrieveMetadata() method of TaskService project fails !
The error is:
[InvalidOperationException: IDX20803: Unable to obtain configuration from: '[PII is hidden by default. Set the 'ShowPII' flag in IdentityModelEventSource.cs to true to reveal it.]'.]

I tried with your demo enviroment and with my own Az

[2019-01-21 08:33] cainellinFTC commented on #49
I found the problem, the proxy server !!
In a system without firewall server proxy , work's fine .
How can I set up proxy credentials?

[2019-01-27 23:51] aai2on opened #50 "ConfidentialClientApplication.Users is obsolete"
Latest version with libraries updated as of 1/27/2019 this demo no longer works.

**ClientApplicationBase.Users is obsolete  - Use GetAccountesAsync instead**

ConfidentialClientApplication cca = new ConfidentialClientApplication(Startup.ClientId, Startup.Authority, Startup.RedirectUri, new ClientCredential(Startup.ClientSecret), userTokenCache, null);

[2019-01-30 22:37] Magrangs commented on #9
So is there a proposed solution to this?

[2019-01-31 08:21] snobu commented on #9
Two years too late to the game but this thread still comes up at the top if you search for the exception message. This may help.

Instead of [doing this][1] (throwing a more specific exception), you could try around `AcquireTokenAsync` and catch `MsalUiRequiredException`. Then check if its `ErrorCode` field == `"user_null"` (signaling the cache problem) and simply redirect the user to the Sign-in

[2019-01-31 12:58] PingPongSet opened #51 "The request was aborted: Could not create SSL/TLS secure channel when logged in user visiting webapi from webapp"
Great repo.

I have problem below when I click To-Do List button on WebApp, even Claims page is working and user has logged in.

`The request was aborted: Could not create SSL/TLS secure channel.`

It throws exception above on this line `client.SendAsync` below:
[code]

any idea?

**Update**
I am able to use it in demo environment, but failed when setting up in Azure AD B2C Tenant running the apps

[2019-02-06 14:49] jrmcdona opened #52 "OAuthBearerAuthenticationOptions in .NET 4.6 with Azure AD v2"
Do you guys have a sample in .NET 4.6 or can give a pointer?

IIssuerSecurityTokenProvider is not longer available in Microsoft.Owin.Security.Jwt. There is now IIssuerSecurityKeyProvider and OpenIdConnectCachingSecurityTokenProvider is no longer compiling.

Therefore I cannot get OAuthBearerAuthenticationOptions working with an Azure AD v2 endpoint on my Web API.

[2019-02-20 14:39] blfuentes commented on #44
@asmithKinegdo Thanks! that was exactly my problem also...

[2019-02-27 15:50] tmarinov commented on #44
I am still having the issue of missing Session in MSALSessionCache
(Microsoft.Identity.Client 2.7.1).
In fact, Session is null  in the "context" input parameter of OnAuthorizationCodeReceivedContext.
I don't use SignalR.

[2019-02-27 16:04] tmarinov commented on #44
Ok, the problem was on my side - wrong order of adding the middleware in the startup file.

[2019-03-14 08:07] alex-lucid commented on #52
Same here, any updates?

[2019-03-14 11:58] jrmcdona commented on #52
** here is the convo I had elsewhere **

That’s outdated, it should look something like this now:
https://github.com/aspnet/AspNetKatana/blob/e2b18ec84ceab7ffa29d80d89429c9988ab40144/src/Microsoft.Owin.Security.ActiveDirectory/WsFedCachingSecurityKeyProvider.cs#L18

Thanks, so is that now built in or do I need to essentially take WsFedCachingSecurityKeyProvider and use it like OpenIdConnectCaching

[2019-03-17 02:41] GNMurthy1982 opened #53 "AAD Graph API calls from WEB API"
Hi This is not an issue, Help required to read and modify AAD b2c user data from WEB API using AAD Graph API.
Could some one make a changes to this sample for my requirement.
Is there any other sample available for my scenario

[2019-03-21 15:25] nickgalea commented on #6
Hi, did you manage to solve this issue please? Have the same exact issue

[2019-04-30 15:20] hetalmadhani commented on #10
The feature requested to vote on is from enabling javascript for custom login page, is there a separate feature request for a new domain like b2clogin?

[2019-05-08 20:18] TiagoBrenck commented on #33
You are probably looking for the ObjectIdentifier claim.
Here is a sample of how to get it from the logged user `ClaimsPrincipal`

[code]

[2019-05-13 13:26] giwleb commented on #9
Curious if there's resources on a "less dumb" solution? What are the options other than "MSAL session cache is stored in memory"

[2019-05-13 17:23] TiagoBrenck commented on #9
@giwleb a new version of this sample will be merged soon (1 or 2 days) and it has more documentation about this simple sample.

About the cache storage options, usually developers decide to store it on a database. Take a look [on this SQL Cache helper classes](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/Microsoft.Identity.Web/Client/TokenCachePr

[2019-05-20 13:19] TheReaLee opened #55 "Question: On Successful SignUp / Register event?"
Is it possible to subscribe to an event when a user has successfully signed up/registered?

`

            options.Events = new OpenIdConnectEvents()
            {
                OnRedirectToIdentityProvider = OnRedirectToIdentityProvider,
                OnRemoteFailure = OnRemoteFailure,
                OnAuthorizationCodeReceived = OnAuthorizationCodeReceived,
                OnAuthenticationF

[2019-05-29 17:24] BarbaraSelden commented on #32
has this issue been fixed?

[2019-05-29 20:44] TiagoBrenck commented on #32
@BarbaraSelden  We have updates this sample a few weeks ago.
Could you please double check if you still face the same error @clmyers ?

Thanks

[2019-05-29 21:21] tmjacobs opened #56 "MSALPerUserSessionTokenCache not correctly persisting tokencache"
The logic for UserTokenCacheBeforeAccessNotification and UserTokenCacheAfterAccessNotification has been swapped.  the code should load the cache before access and persist after access.  Simply swapping the code inside the methods fixed this problem for me.

[2019-05-29 21:46] TiagoBrenck commented on #56
@tmjacobs could you please give more information about what problem did you face?
I believe that your suggestion to swipe the order might not be accurate. So please give us more details and we will be glad to help you.

Thanks

[2019-05-29 21:50] TiagoBrenck commented on #6
@nickgalea this sample was recently updated to a new version. Could you please double check if the problem is still happening? Thanks

[2019-05-29 22:32] tmjacobs commented on #56
No accounts were being returned when I used session cache.  When I used memory cache, the correct account was returned from cached.  When I compared the session cache to the memory cache, I noticed that the load and persist code was switched.  I changed the session cache to match the memory cache and the session cache then correctly returned the correct account.

From: Tiago Brenck <notifications@

[2019-05-29 23:51] TiagoBrenck commented on #56
Oh now I got what you mean. I will open a PR with the fix.
Thanks for pointing that out.

[2019-05-30 22:22] #56 closed

[2019-06-11 10:36] #55 closed

[2019-06-11 10:37] TheReaLee commented on #55
Managed to get this working. Posted answer on stack overflow:
https://stackoverflow.com/questions/36097669/sign-up-event-from-azure-b2c/56250604#56250604

[2019-06-25 22:39] brentschmaltz opened #58 "Why does OpenIdConnectCachingSecurityTokenProvider.cs use locks"
ConfigurationManager returns a OpenIdConnectConfiguration object where all properties represent a single consistent view.

What is the purpose of this object: OpenIdConnectCachingSecurityTokenProvider?

[2019-06-26 21:23] kodubeau commented on #48
Following. We are having trouble updating an application to use AzureAD-Multi that was based on the download.

[2019-07-02 18:46] kodubeau commented on #48
I've tried updating the code myself to use b2clogin.com.

Updated TaskWebApp web.config:
Line 21 <add key="ida:AadInstance" value="https://kokomatics.b2clogin.com/tfp/{0}/{1}" />
Updated TaskWebService web.config:
Line 15 <add key="ida:AadInstance" value="https://kokomatics.b2clogin.com/{0}/v2.0/.well-known/openid-configuration?p={1}" />
Updated Global.bs
Line 34
public static string WellKnownMeta

[2019-07-11 10:44] chrift commented on #10
We have moved over to using the b2clogin.com domain, but we are still getting this issue.

I don't think it's right that this issue be closed.

[2019-09-20 19:22] mmacy commented on #48
Hello @becke-ch-s0-v1 and @kodubeau. Both this code sample the associated tutorials have been updated to b2clogin.com, and also have a fix for _user logout_ and the _To-Do List_ when using your own tenant (see #60). I've confirmed the docs and this sample, when used together, to be functional in their current state. Thank you so much for your patience while we got this sorted.

* [Tutorial: Enable

[2019-09-21 18:24] DeboDC opened #61 "404(Not Found) Error while trying to Sign up/Sign in"
Getting 404(Not Found) Error while trying to sign up/sign in for the 'TaskWebApp'(after configuring the corresponding policy). I have ran the user flow(policy) from the portal and it seems to working fine. Also, I had updated the 'ida:Tenant', 'ida:TenantId', 'ida:ClientId', 'ida:ClientSecret', 'ida:RedirectUri' & 'ida:SignUpSignInPolicyId' keys in the 'appsettings' section of the Web.config with

[2019-09-23 14:57] mmacy commented on #61
Hi @DeboDC, it looks like you might have missed `ida:AadInstance` in the _Web.config_ file (it's not listed in your comment). You can see all of the settings you need to update in the **Configure the sample** section of this article:

[Tutorial: Enable authentication in a web application using Azure Active Directory B2C](https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-tu

[2019-10-14 05:59] Anduin2017 commented on #35
+1. Waitting for .NET Core version.

[2019-10-15 16:23] TiagoBrenck commented on #35
@Anduin2017 the sample will be available soon on this repo: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2

[2019-10-18 02:53] Anduin2017 commented on #35
I got the example

https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp

[2019-10-28 08:14] jmprieur commented on #39
The commit seems to be merged.

[2019-10-28 08:14] #39 closed

[2019-10-31 11:27] InfoHunt opened #62 "Feature request: Simplified sample project"
Dear all,
First, thanks a mil for providing the sample application and the code-along sections attached to this project. The code-along sections helped a lot in the initial phase. However, what I did not quite grasp was why you decided to spread the sample application across multiple projects including making use of partial classes?
While the sample on its own is really great, I found it hard to a

[2019-10-31 16:31] mmacy commented on #62
@InfoHunt I wholeheartedly agree with your request:

What I believe we need, in addition to the end-to-end, full-fledged samples that we already have (like this one), are companion "quickstart" samples. Such quickstart samples would include only the very minimum code modifications to a default template that are required to integrate B2C. While these smaller, more simplified samples might not prese

[2019-11-04 09:47] InfoHunt commented on #62
@mmacy Thanks a mil for reply and the idea of introducing quickstart samples. My main issue with the current sample is that, at least for me as a beginner, there is a lot of code involved that is sort of "distracting" and it is difficult to figure out, which parts are required for which sign-up. I figure, a small  sample that would outline just how to set up an application login via Azure B2C is w

[2019-11-04 10:03] jmprieur commented on #62
@InfoHunt : would something like this (which is for AAD) be closer to what you need? https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-1-MyOrg

[2019-11-04 11:02] InfoHunt commented on #62
@jmprieur Thanks a mil for the link you provided. In terms of structure let's say "scope", this is already pretty close. I like the idea of having individual folders for each step/topic.

[2019-11-04 11:05] jmprieur commented on #62
@InfoHunt @mmacy
BTW, there is also a sign-in with B2C chapter there (https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C), and we are working on Web app calls Web API (B2C): PR is https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/pull/192

cc: @jennyf19

[2019-11-04 20:08] mmacy commented on #62
@InfoHunt Great feedback, thank you! On **this item** (screenshots), do you mean screenshots of expected output of the sample application, the app registration settings in the Azure portal, or both?

We tend to shy away from including Azure portal UI screenshots as they get out of date extremely quickly, and thus often provide an even worse experience when the UI doesn't match the image. However,

[2019-11-05 08:24] InfoHunt commented on #62
@mmacy Thanks a mil for your reply. Sorry for not being precise when mentioning the screenshots. I was hinting at screenshots from within the application. This might be a personal preference, but it does help a lot to have some sort intermediary result (or at least a picture) if one has completed a step in creating/extending an application or working with a code sample. That is more or less what I

[2019-11-05 16:14] mmacy commented on #62
@InfoHunt Yup, that answers it, and is in line with what I was thinking, as well. Thanks again for your feedback, it really does help us dial in a better format for our getting started material.

[2019-11-06 09:53] InfoHunt commented on #62
@mmacy Glad I could help and thanks a mil for considering my suggestions, I wasn't sure in the beginning if taking a direct approach and creating a post was the way to go, since who am I to tell the pros what their documentation should look like. Do keep me posted about new content, I would enjoy reading through new stuff.

[2019-11-11 13:01] InfoHunt commented on #62
Just a thought for a future "what might go wrong" section. Well, I do not know how what the sample might look like, but it might be worth adding what I have been struggling with.  My current issue is that when clicking on my sign-in button, I get a 404  with the Azure B2C URL being messed up, i.e.
[code]
I have been unable to locate where the URL is being rewritten, since the URL was fine in both

[2019-11-11 17:42] jennyf19 opened #65 "[Bug] an extra `/` is added to the URL"
Customers have reported here and in SO that an extra `/` is added to the B2C Url.
They get a 404  with the Azure B2C URL being messed up, i.e.
[code]
The URL was fine in both `_metadataEndpoint` and `MetadataAddress` in the `Startup-cs` class
[Corresponding comment](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues/62#issuecomment-552436444)

cc: @jmprieur - in

[2019-11-11 17:43] jennyf19 commented on #62
@InfoHunt Thanks. i believe you're the not the first dev to report this. i will take a look. I have made a separate issue to track this, which is linked above.

[2019-11-12 21:51] bachoang opened #66 "Sample is missing link to call password reset and profile editting policies"
The Web App sample is missing links to call the following Function to reset password and profile editing policies

https://localhost:44316/Account/ResetPassword
https://localhost:44316/Account/EditProfile

while this guidance shows the screen shot having those links:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-quickstarts-web-app

[2019-11-12 22:30] jennyf19 commented on #66
@bachoang we support those policies in the code, so maybe they are just not showing up in the UI? i'll take a look.

[2019-11-13 00:29] jennyf19 commented on #66
@bachoang ....I see the edit profile/password reset buttons in the UI:
![image](https://user-images.githubusercontent.com/19942418/68722213-a10e5f00-0569-11ea-9051-050cd10de26e.png)

[2019-11-13 05:05] jennyf19 commented on #66
Click on the signed-in user's name to get the options for edit profile & reset password.

closing...fyi @bachoang

[2019-11-13 05:05] #66 closed

[2019-12-09 18:13] raiderjakk opened #67 "Issue with Redirect Url in host Azure AD Application"
The reply URL for making your own application didn't work for me.  I had to consult this page.  If you look to the closed issues there is an entry for the redirect URL not working.  Once I

https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-add-identity-providers#feedback

"None of the redirect URLs work
None of these worked as a redirect URL:

https://your-B2C-tenant-name.b2clog

[2020-01-28 16:16] junioredmar commented on #10
This is the name of the cookie being stored: "x-ms-cpim-rc"
Which as per MS Documentation is "Used for storing the relay cookie."
Is there a way for disabling it, or if we can force the deletion of the old ones?

[2020-02-05 14:42] markarnolditpro commented on #10
This is a problem for my organization as well.  We went through a lot of hoops to get B2C as a solution and having no clear solution to this isn't going over well with the stakeholders.    We are already using the b2clogin.com domain.  Any guidance on clearing the offending cookies programmatically or otherwise would help.

[2020-02-18 13:48] vovanb commented on #50
any fixes?

[2020-02-21 17:38] TiagoBrenck commented on #67
Hi @raiderjakk could you help me find in the sample where are we suggesting to set the reply URL to those that didn't work?

[2020-02-24 22:10] TiagoBrenck commented on #44
Closing since they found a solution.

[2020-02-24 22:10] #44 closed

[2020-02-24 22:16] TiagoBrenck commented on #13
Closing since we haven't heard back from the developer. Please re-open if still facing the problem.

[2020-02-24 22:16] #13 closed

[2020-02-24 22:38] #14 closed

[2020-02-24 22:40] TiagoBrenck commented on #16
Closing since we having heard back from the developer. Please re-open if this issue is still occurring.

[2020-02-24 22:40] #16 closed

[2020-02-24 22:43] TiagoBrenck commented on #6
Closing since we haven't heard back from the developer and the sample got updated. Please re-open this if the error still persists in the new version.

[2020-02-24 22:43] #6 closed

[2020-02-24 22:48] TiagoBrenck commented on #20
Please, re-open if this is happening in the latest version of this sample

[2020-02-24 22:48] #20 closed

[2020-02-24 23:14] TiagoBrenck commented on #31
Yes you can, if you have it checked on your user flow. To do it, please follow [this documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-custom-attributes).

Note that the claim name in the default user flow is `emails`.

[2020-02-24 23:35] TiagoBrenck commented on #32
Closing since we haven't heard back. Please, re-open if the issue persists

[2020-02-24 23:35] #32 closed

[2020-02-24 23:41] #33 closed

[2020-02-24 23:44] TiagoBrenck commented on #35
Please, refer to this .NET Core sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C

[2020-02-24 23:44] #37 closed

[2020-02-24 23:49] TiagoBrenck commented on #47
You also have to set **Logout URL** for both apps at Azure Portal. Please check https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-6-SignOut#single-sign-out

[2020-02-24 23:49] #47 closed

[2020-02-24 23:54] #49 closed

[2020-02-24 23:57] TiagoBrenck commented on #50
The replacement for `Users` is `IAccount`. The code snippet using it in this sample can be found on TaskController.cs:

[code]

[2020-02-25 00:17] TiagoBrenck commented on #51
The url that you mentioned has an extra trailing after the port number: `https://localhost:44332//api/tasks/`

[2020-02-25 00:17] #51 closed

[2020-02-25 00:19] #53 closed

[2020-02-25 00:21] TiagoBrenck commented on #61
Closing as we haven't heard back form the developer. Please, re-open if the error still persists.

[2020-02-25 00:21] #61 closed

[2020-03-23 10:04] sergiosolorzano opened #68 "Grant Type authorization_code doesn't return RefreshToken"
I've followed this [post ](https://stackoverflow.com/questions/58407041/why-doesnt-acquiretokenbyauthorizationcode-return-refreshtoken) and made the additions to the portal and code as suggested:

Portal: Web API - Expose an API - Add Scope for "offline_access" (also tried with format "demo.offline_access"); Web App added "offline_access" permission

Code: Added offline_access to Start_Auth.cs, Gl

[2020-03-26 16:03] sergiosolorzano opened #69 "Custom Policies&KMSI: Password Reset and Cancel Sign up redirect to authentication response url without authenticating"
I use this example for a B2C web app/web api authentication/authorisation. I also use Local Account [custom policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-get-started?tabs=app-reg-preview#create-the-signing-key) and [KMSI](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-keep-me-signed-in).

The issue I have is that in the case when a u

[2020-03-26 16:05] sergiosolorzano commented on #68
resolved https://stackoverflow.com/questions/60811119/azure-webapp-webapi-grant-type-authorization-code-doesnt-return-refreshtoken/60823779?noredirect=1#comment107618220_60823779

[2020-03-26 16:05] #68 closed

[2020-03-31 07:07] sergiosolorzano commented on #69
Did someone come accross this issue before?

[2020-04-06 01:21] LeGnours commented on #20
Hello,

It seems I am also having the same issue with the lastest documentation.
I've followed the tutorial (https://docs.microsoft.com/en-ca/azure/active-directory-b2c/tutorial-web-api-dotnet?tabs=app-reg-preview) and when I am trying to access the ToDoList, I have :
"We're having trouble signing you in.
Please sign in again. Unauthorized"

[2020-04-30 18:58] TiagoBrenck commented on #69
If you set a breakpoint  where you are capturing the error code AADB2C90091 or AADB2C90118, does it get hit? Is your AccountController decorated with [AllowAnnonymous]?

[2020-04-30 19:01] TiagoBrenck commented on #67
Closing since we haven't heard back from the user. Feel free to re-open if the error persists.

[2020-04-30 19:01] #67 closed

[2020-05-13 06:34] artem-korolev opened #71 "Claims page work, but Todo List raises an error"
Hi,

Authentication with login/signup link works okay. Claims page is also okay and shows my user information.
But To-Do List page raises this error:

[code]

I tried to run solution in single project mode, and multiply project run more. Same result.
Original configuration, no changes

[2020-05-13 06:45] artem-korolev commented on #71
[code]

[2020-05-13 16:32] TiagoBrenck commented on #71
Hi @artem-korolev, just to clarify your statement about running the solution using single vs multiple projects, this sample requires **both** projects to be running simultaneously. Running just one of them wont work.

Do you have a B2C tenant where you can register the web app and web api application using your own tenant? And then updating the web.configs to the correct values of your own registr

[2020-05-14 16:58] artem-korolev commented on #71
Hi @TiagoBrenck, everything works very well with playground tenent for me. at least right now. I just didn't proceed with **comment line 27 and uncomment line 28**

Everything works well now. Thank you very much!

[2020-05-14 16:58] #71 closed

[2020-05-26 22:30] jennyf19 commented on #48
closing @kodubeau please reopen if what @mmacy posted above is not sufficient or you still have issues. Thanks.

[2020-05-26 22:30] #48 closed

[2020-08-06 07:34] InfoZone opened #72 "Azure AD B2C not working on below sample when sign in button on home page is changed to an ajax call"
Our team has taken the sample and it works 100% as it is. We then wanted to change it to fit into the app we are building.
The main difference is is that the sign in button on our app, does an ajax all into another controller to start the sign in process.

Once this is clicked, it follows the same server side code as the original sample, but we get a CORS issue
Access to XMLHttpRequest at 'https:/

[2020-08-12 03:23] komiyasa opened #73 "Issue of "Unauthorized""
I followed tutorial but I have following issue. How can I resolve it?
![image](https://user-images.githubusercontent.com/53052635/89971538-738c4880-dc96-11ea-929b-a6e223eb86e8.png)

[2020-09-08 22:16] sshiercir2 opened #75 "IDX10501 Signature validation failed when validating token"
We have a problem with token validation in our test system.  We are using the OWIN middleware in OpenID connect.
The code we have was originally based off https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi .
The code has since been modified and customized and is in a .NET 4.6.1 MVC app.

We are getting SecurityTokenInvalidSignatureExceptions with the message
"IDX10501 o

[2020-09-10 20:35] TiagoBrenck commented on #75
You app might be using custom keys. Could you try the MetadataAddress: `https://cir2advisorstst.b2clogin.com/tfp/cir2advisorstst.onmicrosoft.com/B2C_1A_Signin_OpenID/v2.0/.well-known/openid-configuration?appid=<your-app-id>` (replacing the value with your application appId)?

[2020-09-10 21:07] sshiercir2 commented on #75
Tiago:
I tried that using our Azure client id for the <your-app-id>.  Results are unchanged.  Still get the same results with the same SecurityTokenInvalidSignatureException

[2020-09-11 00:30] TiagoBrenck commented on #75
That is interesting. If you decode the JWT Token on https://jwt.ms/ , would the `KID` claim be the same value that you get from your key endpoint on your MetadataAddress?

[2020-09-22 15:50] sshiercir2 commented on #75
Tiago: KID has the same value.

[2020-10-19 12:35] whyleee opened #77 "Use ASP.NET compatible cookie managers in OWIN middleware"
Default cookie managers in OpenID Connect and cookie authentication OWIN middleware are not fully compatible with ASP.NET. There is a known issue when OWIN cookies can be cleared by ASP.NET, see https://stackoverflow.com/questions/20737578/asp-net-sessionid-owin-cookies-do-not-send-to-browser.

The fix is to use out-of-box `SystemWebCookieManager` and `SystemWebChunkingCookieManager`. I'm going to

[2020-11-02 09:14] #77 closed

[2020-11-17 09:02] jmprieur commented on #69
Closing as there was no answer

[2020-11-17 09:02] #69 closed

[2020-11-17 09:05] jmprieur commented on #73
This requires more information.
@komiyasa : proposing to close this issue as this is pretty old, but feel free to reopen if you still have the problem

[2020-11-17 09:05] #73 closed

[2020-11-17 09:06] jmprieur commented on #52
Closing as this issue is very old and the sample was updated since;

[2020-11-17 09:06] #52 closed

[2020-12-01 13:33] jmprieur commented on #75
@sshiercir2 is the authority in your app the same as the issuer?

[2020-12-04 02:25] #65 closed

[2020-12-04 02:27] jennyf19 commented on #23
@DerekChasse you can see how we've set up integration tests against a Web API in [microsoft identity web](https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/IntegrationTests) similar would apply to a B2C authority. Feel free to open an issue there if you need more specifics.

[2020-12-04 02:27] #23 closed

[2020-12-04 02:28] jennyf19 commented on #25
closing as old issue. feel free to re-open if this is happening w/VS2019. thank you.

[2020-12-04 02:28] #25 closed

[2020-12-04 02:30] jennyf19 commented on #35
closing, as @TiagoBrenck has linked above the current b2c sample.

[2020-12-04 02:30] #35 closed

[2020-12-04 02:30] jennyf19 commented on #31
closing as answered.

[2020-12-04 02:30] #31 closed

[2020-12-04 02:33] jennyf19 commented on #46
@dkchittimilla apologies for not getting to this sooner. are you still having the issue? if you give us your b2c tenant, we can try to help.
Also, in the b2c portal you can run the policies directly and make sure they are working properly.

Going to close, as this issue is pretty old, but please reopen if you need help (please tag me). Thanks.

[2020-12-04 02:33] #46 closed

[2020-12-04 02:33] jennyf19 commented on #50
closing as answered.

[2020-12-04 02:33] #50 closed

[2020-12-04 02:36] jennyf19 commented on #58
Please use this more current [b2c sample](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C)

closing.

[2020-12-04 02:36] #58 closed

[2020-12-04 02:38] jennyf19 commented on #62
@InfoHunt we have a more current [b2c sample](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C) that you might be interested in.

I'm not sure if @mmacy has any follows-up from the above conversation, but I don't think we'll be making changes to this specific sample. You are welcome to submit a PR, if you like.

[2020-12-04 02:38] #62 closed

[2020-12-10 18:22] rajoo8 opened #81 "Session never expires"
Hi Team,

I am using Azure B2C & setting Token lifetime to 5 mins & Session lifetime to “Rolling” & 15 mins.

I tested the above B2C setup with this sample app, however the session never expires.
Is this a issue with this sample app or am I missing anything else?

[2020-12-15 17:49] sshiercir2 commented on #75
@jmprieur The issuer in my metadata was not the same as the issuer.  I made them the same and the result is the same IDX10501 error.

[2020-12-22 21:59] plemm98 opened #83 "Get multiple bearer token for multiple scopes"
Hi,

In the "Index" method of the "TasksController", there is an exemple on how to retrieve a bearer token for the "https://fabrikamb2c.onmicrosoft.com/tasks/read" scope. It's working perfectly.

Now, let's add a little twist. Instead of retrieving only one bearer token, let's say i want to retrieve two bearers token but with different scope :

Ex : https://app1.onmicrosoft.com/tasks/read and http

[2021-01-04 10:58] jmprieur commented on #83
@nickgmicrosoft

[2021-01-12 13:23] jmprieur commented on #81
The session time is determined by the session token.

[2021-01-12 13:25] jmprieur commented on #72
See this sample to understand how to proceeed with Ajax calls: https://github.com/AzureAD/microsoft-identity-web/tree/master/tests/AjaxCallActionsWithDynamicConsent

[2021-01-12 13:25] #72 closed

[2021-01-12 13:27] jmprieur commented on #75
@sshiercir2 did you clear the cache of your client?

[2021-01-12 14:45] sshiercir2 commented on #75
Yes cache was cleared, also run in Chrome dev tools with disable cache checked.  Ran incognito as well.  Error occurs all the time.

[2021-01-25 06:54] nabilshams commented on #7
I had similar issue when I realized that "My Test ASP.NET Web Application | API permissions" has not been granted the permission for read & write API. Make sure that you have granted those permissions.

Debug the web application and make sure that you have received access token inside OnAuthorizationCodeReceived of Startup.Auth.cs.

[2021-01-25 09:25] jmprieur commented on #75
@sshiercir2 : please have a look at https://github.com/Azure-Samples/active-directory-dotnet-webapi-manual-jwt-validation which explains how to do the manual validation (which you are doing)

Proposing to close this issue as I believe I've answered, but feel free to reopen if you disagree.

[2021-01-25 09:25] #75 closed

[2021-02-02 08:48] benphunter commented on #7
I also had the same issue and realised that I had made a mistake when reading the instructions. I granted API permissions in the webapp not the webapi. I need to pay more attention, hopefully this will help someone else.

[2021-02-27 11:20] AlpeshValvi123 commented on #20
I have followed the same documentation. https://docs.microsoft.com/en-ca/azure/active-directory-b2c/tutorial-web-api-dotnet?tabs=app-reg-ga

I'm successfully login into WebApp.

But getting the issue while accessing the API.
**Error**.
We're having trouble signing you in.
_Please sign in again. Unauthorized_

Also, I have granted both web app and well as API from Azure AD B2C.

Any help would be h

[2021-03-03 19:18] peacefulvibes opened #86 "Published scopes?"
The tutorial says this in step 3:

![image](https://user-images.githubusercontent.com/629163/109859566-f7e1f100-7c11-11eb-84ea-0e559873d617.png)

There is no Published scopes window in the left - do you really mean "Expose an API" and values set this way?
![image](https://user-images.githubusercontent.com/629163/109859688-1d6efa80-7c12-11eb-90b4-d12018fddf33.png)

[2021-03-03 19:41] dbman86 opened #87 "Can't Get TODO List: We're having trouble signing you in. Please sign in again. Unauthorized."
Set everything up as the readme.  Was able to authenticate the web app.  but when I click on To-Do List I get this error:

![image](https://user-images.githubusercontent.com/629163/109861908-b1da5c80-7c14-11eb-84ab-4ad8bcfc629a.png)

Seems the IConfidentialClientApplication.AcquireTokenSilent() result.AccessToken is null - anyone know why?

![image](https://user-images.githubusercontent.com/629163

[2021-03-03 19:48] stevenxzhou commented on #86
Looks like you are not on your AD B2C Tenant.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant

[2021-03-03 20:08] dbman86 commented on #86
thanks for reply but I am pretty sure I am... ?

![image](https://user-images.githubusercontent.com/629163/109865532-01228c00-7c19-11eb-859d-a924d3de71aa.png)

[2021-03-04 05:38] dbman86 commented on #87
nevermind i figured it out.  On the web site app registration, needed to grant admin consent:

![image](https://user-images.githubusercontent.com/629163/109916576-b7fa2880-7c68-11eb-81bc-0c09579e855a.png)

[2021-03-04 05:38] #87 closed

[2021-03-04 05:40] dbman86 commented on #20
I had same issue - I went to the WebApp app registration and needed to grant admin consent - before I did the status said something else and was not green.  otherwise put a breakpoint in TasksController.Index() when it calls cca.AcquireTokenSilent - does result.AccessToken have a value?  it was null for me until I made the change below.  hope this helps.

![image](https://user-images.githubusercon

[2021-03-08 14:28] jmprieur commented on #86
Thanks @dbman86 this is a bug in the documentation. You've found how to add scopes apparently?

[2021-03-09 20:04] MINDoSOFT opened #88 "Refresh token"
Hello there !

My access tokens have a really small lifetime e.g. 5 minutes.
My refresh token has a really large lifetime e.g. 1 day.
And the web app session has a lifetime of e.g. 30 minutes.

If I login to the page and then wait for 15 minutes for the access token to expire, when I try to access a page that calls the AcquireTokenSilent method (similar to [TasksController.cs](https://github.com/A

[2021-03-10 11:31] MINDoSOFT commented on #88
Will open a new issue because this occurs with the sample tenant also.

[2021-03-10 11:31] #88 closed

[2021-03-10 11:36] MINDoSOFT opened #89 "Refresh token"
Using the sample tenant provided I am able to get an access token and a refresh token.

The access token expires in one hour and the refresh token in 14 days.

If I try to open the Tasks page after the access token has expired, I am redirected to the b2clogin page, and a completely new access and refresh token are being retrieved.

This sounds different than what I expect after [reading this](http

[2021-03-11 14:38] MINDoSOFT commented on #89
@jmprieur it looks like when you change a configuration in the [OpenIdConnectAuthenticationOptions](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/blob/e9b13075847c539907636f695ab630d6fdebea3f/TaskWebApp/App_Start/Startup.Auth.cs#L69) this issue is fixed.

You need to set the UseTokenLifetime to false.
[code]

When you say token lifetime, it doesn't specify if it is

[2021-03-15 13:08] jmprieur commented on #89
Thanks for the heads-up @MINDoSOFT

[2021-03-25 13:21] jasonfritts opened #91 "IDX10501: Signature validation failed. Unable to match keys"
It should be noted that this sample code by default only supports verifying the token signatures of multiple policies (signup, profile edit, password reset etc), if all those policies are configured to use the same token signing key.

Otherwise, if one policy is using a different token signing key you will get the error:
IDX10501: Signature validation failed. Unable to match keys

For instance, th

[2021-04-05 08:51] jmprieur commented on #91
@jasonfritts I think you've answered your own question?

[2021-04-05 13:21] jasonfritts commented on #91
I agree, but I think this behavior should be noted in the sample readme for those unfamiliar with signature validation only working if the same key is used across all policies.  It took a support case and investigation to find this was our issue due to using a user flow for sign in, but a custom policy for profile edit.

[2021-04-21 10:28] #81 closed

[2021-06-22 07:47] 274188A opened #95 "The Web App is 4 year old tech"
Please update the web app to at a least .dotnet 3.1  asp.net core

- the current web app is a bit of a museum piece :-)
thanks!

[2021-06-22 11:33] jmprieur commented on #95
There is another sample for this, @274188A:
https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C.
It's for 3.1, but if you change the framework to net5.0 this also works

Unfortunately we still have plenty of customers and partners who are still on ASP.NET classic ...

[2021-06-30 20:00] phillipjohnson opened #96 "Configure code to run at non-root context"
In the Account controller, the redirect URL is hard-coded to root, but I believe it should actually pull from the config to accommodate applications running at a given context other than root. Here is my modification:

[code]

There are also many `Response.Redirect` lines that I think should be changed to start with `~/` instead of just `/`. Let me know if PRs are welcome and I can submit one.

[2021-07-05 09:25] jmprieur commented on #96
@phillipjohnson : thanks for raising
PRs are definitively welcome. Thanks for proposing

[2021-07-06 15:17] phillipjohnson commented on #96
Thanks, for some reason it looks like [sandbox Azure AD](https://docs.microsoft.com/en-us/answers/questions/25751/lab-sandbox-not-allowing-access-to-azure-ad.html?page=3&pageSize=10&sort=oldest) is not working so I'll have to wait a bit on this.

[2021-07-15 04:43] piqa2MS opened #98 "could not find file webapp-b2c-dotnet.dll"
when i try to run the code i received this error "could not find file"  webapp-b2c-dotnet.dll" . how do i get this file? i checked the path and yes its empty.
![error](https://user-images.githubusercontent.com/87461373/125730078-cad17040-fff2-46ef-be2e-5d02a31d8f10.jpg)

[2021-07-15 07:57] jmprieur commented on #98
It could be because of Windows path size limitation @piqa2MS
did you try to clone the repo close to the root of your hard drive? or rename the name of the folder to be smaller?

[2021-07-15 08:10] piqa2MS commented on #98
when i clone from github its under c:\users\<username>. so what u meant is by right when i clone it the webapp-b2c-dotnet.dll should be in the path mentioned in the error screenshot?

[2021-07-15 08:18] jmprieur commented on #98
I mean, move the cloned folder to C:\gh\tinyname

[2021-07-16 02:33] piqa2MS commented on #98
hi my issue is resolved. tq for your help.

[2021-07-16 02:36] piqa2MS opened #99 "trouble signing in - The reason phrase must not contain new-line characters."
when i login i can see id_token but do display name appear and when i click to-do list i got this error
![error2](https://user-images.githubusercontent.com/87461373/125883030-d2c82199-a471-45f6-bfe0-de3c3a08cd2c.jpg)

[2021-07-16 02:36] #98 closed

[2021-07-16 07:15] jmprieur commented on #98
Thanks for the update, @piqa2MS

[2021-07-16 09:45] jmprieur commented on #99
did you configure your own B2C tenant, @piqa2MS ?

[2021-07-16 09:46] piqa2MS commented on #99
yes. i use my own tenant

[2021-07-16 09:48] jmprieur commented on #99
@piqa2MS : there are conditions for the cache to work. See https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics#known-issue-with-azure-b2c

[2021-08-11 15:21] bgavrilMS commented on #99
Assuming this was solved. Please reopen if not.

[2021-08-11 15:21] #99 closed

[2021-08-24 12:24] balaonline opened #102 "make the sample code work behind organization proxy"
this code needs some configuration changes to make it work behind a proxy.

[2021-08-24 23:00] balaonline commented on #102
I have created a pull request to address this feature:
balaonline25082021: modified the files to work behind corporate proxy

[2021-09-07 01:57] jmprieur commented on #102
See https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/pull/103

[2021-10-25 21:23] smartstoremx opened #106 "App very old - Do you have once that works?"
Hi all,

Do you have a code sample that works with AD B2C login? The actual get many error when compile and request old nugets

[2021-10-28 18:56] cotepatrice opened #108 "Cannot create SSL/TLS link when retrieving metadata"
When I load the web API (TaskService) project, I get an an SSL error in the OpenIdConnectCachingSecurityTokenProvider class in the RetrieveMetadata when calling my OIDC endpoint. This one is correct as I can copy/paste it to Chrome and I get the metadata. Probably a setting in IIS Express? Like adding a certificate somewhere?

The infamous error : "The request was aborted: Could not create SSL/TLS

[2021-10-28 19:38] #106 closed, assigned to aremo-ms

[2021-10-29 18:05] jmprieur commented on #108
Normally the best way is to use .NET FW > 4.7.2

[2021-10-29 19:02] cotepatrice commented on #108
@jmprieur seems to work with 4.8 without setting the security protocol. Therefore the team should update the target framework. Usually when we pull a sample projet from GitHub, it's supposed to work without having to change anything but the configuration values.

[2021-10-29 19:09] jmprieur commented on #108
Yes, I agree. @cotepatrice
@aremo-ms. can you please update it?

[2021-10-29 19:21] aremo-ms commented on #108
I'm on it

[2021-11-01 15:43] cotepatrice opened #109 "No account or login hint was passed to the AcquireTokenSilent call"
I worked on this sample for 2 days now and I still can't get it to work.

STEPS:
1. I log in with the TaskWebApp Signup/Singin menu top right
2. I get the correct token and I can see the claims in the "Claims" view by cliciking the menu
3. I click the "ToDo List" menu to call the TaskService API
4. First thing inside the WebApp TaskController.Index, the call to **AcquireTokenForScopes**. Inside th

[2021-11-01 18:23] aremo-ms commented on #108
@jmprieur
PR: https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/pull/110

[2021-11-01 19:19] cotepatrice commented on #109
I've seen that the code keeps calling the MsalAppBuilder.BuildConfidentialClientApplication that basically is a factory that creates a new client every time. That's probably why the cache is always empty? Because it's a new one every single time?

[2021-11-01 19:58] jmprieur commented on #109
@aremo-ms : you might want to also replace

https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/blob/196df0ee441791cb57e887c0427a9c20d9b78a49/TaskWebApp/Utils/MsalAppBuilder.cs#L54

by something like in the AAD sample:

[2021-11-02 00:44] aremo-ms commented on #108
@cotepatrice please verify the solution work for you, we've just merged update.

[2021-11-02 13:20] cotepatrice commented on #108
I still have the SSL problem, but it's probably because I'm on a VPN and I already have a workaround. But the update to 4.8 works great. Thanks!

[2021-11-02 13:20] #108 closed

[2021-11-02 15:51] jmprieur commented on #108
What is your operating system, @cotepatrice ?

[2021-11-02 18:10] cotepatrice commented on #109
@aremo-ms I can confirm that the problem is with the GetAccountAsync(string identifier) function. So probably with the underlying cache management. I made a simple change using GetAccountsAsync() (even if deprecated, just for testing) instead of the the other and I get the account. Then everything seems to work.

In TaskWebApp.Controllers.TaskControllers
[code]

But I, will wait for your modificat

[2021-11-04 14:36] aremo-ms commented on #95
@jmprieur may we close this issue?

[2021-11-04 15:46] #95 closed

[2021-11-04 15:46] jmprieur commented on #95
Thanks for the heads-up, @aremo-ms

[2021-11-04 22:21] aremo-ms commented on #91
@jasonfritts Readme.md was updated under "Known issues" section.

[2021-11-04 22:21] #91 closed

[2021-11-05 12:27] cotepatrice commented on #109
@aremo-ms I still have the exact same problem. In TaskWebApp.Controllers.TasksController, line 173, the "GetAccountAsync" method always returns null (but the key returned by the "GetB2CMsalAccountIdentifier" method seems to be OK). Tried a couple of times, with a logout first, no success.

[2021-11-05 14:31] aremo-ms commented on #109
@cotepatrice I'm sorry this is still not resolved for you. I will need to be able to reproduce it on my local environment. Currently I cannot. Could you please provide me more details about your user so I will try to create same one on my side. Alternatively, you can connect with me through Teams and will be happy to chat with you. My work e-mail address is v-abeyderman@microsoft.com

[2021-11-05 14:38] aremo-ms commented on #7
@jmprieur can we close it? Trying to cleanup and sort issues

[2021-11-05 15:57] jmprieur commented on #7
Thanks for the heads-up and for helping cleaning-up @aremo-ms

[2021-11-05 15:57] #7 closed

[2021-11-05 18:44] cotepatrice commented on #109
@aremo-ms Thanks for your time. We could arrange a Team meeting one on one monday Nov 8 around 9h30 or 10h00 AM. Since you appear to be in Ottawa, we won't have any problem with the timezones.

This way I can show you all my actual setup (users and policies in B2C, code, etc.)

[2021-11-05 18:47] aremo-ms commented on #109
Sounds good. Looking forward to chat

[2021-11-08 15:01] cotepatrice commented on #109
@aremo-ms I just found out the problem! The IConfidentialClient GetAccountAsync method is **case sensitive**. My custom policy name is in capital letters.

So basicaly to be sure to be 100% idiot proof, I would suggest you just modify your TaskWebApp.Controllers.TasksController.AcquireTokenForScopes() method and add a "ToLower()" call like this

[code]
In anyway, I'll just close this issue as it s

[2021-11-08 15:01] #109 closed

[2021-11-08 15:07] aremo-ms commented on #109
@cotepatrice Thanks for your update, I will look into this today. My other question is about TLS... I will need to read a little bit more and will update you as well.

[2021-11-12 15:53] mattd-its commented on #109
I was having this issue too. However adding .ToLower() like suggested didn't fix it.

Specifically the issue was `GetAccountAsync` in `TaskController.cs/AcquireTokenForScopes` would always return null. Even calls to `GetAccountsAsync()` while trying to just debug would return 0 items.

What did fix things, was changing all the constants defined in both web.configs to be lower case. Even though the

[2021-11-12 16:06] aremo-ms commented on #109
Hi @mattd-its
Thank you for your update, I will check.

Alex

[2021-11-28 10:20] wikipi opened #116 "Could not load file or assembly Microsoft.Identity.Client, Version=4.37.0.0"
When I run on my local macine, I keep getting an error when assigning IConfidentialClientApplication on Startup.Auth.cs file in TaskWebApp project. It says:

`Could not load file or assembly 'Microsoft.Identity.Client, Version=4.37.0.0, Culture=neutral, PublicKeyToken=0a613f4dd989e8ae' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Ex

[2021-12-15 05:50] guobinC opened #118 "Sign up / Sign in failed"
I cloned the source code 15 Dec 2021, use VS2019 to build on master branch and run. Without any code change, try to Sign up / Sign in, it reports:

  Processing of the HTTP request resulted in an exception. Please see the HTTP response returned by the 'Response' property of this exception for details.

![image](https://user-images.githubusercontent.com/45161435/146130742-6d120693-e933-4fa8-95ba-5e

[2021-12-15 06:22] guobinC commented on #118
After set breakpoint to
notification.Response.Redirect("/Home/Error?message=" + notification.Exception.Message);

the detail error message is:

Unable to get authorization code Could not load file or assembly 'Microsoft.Identity.Client, Version=4.37.0.0, Culture=neutral, PublicKeyToken=0a613f4dd989e8ae' or one of its dependencies. The located assembly's manifest definition does not match the assem

[2021-12-16 21:45] Turbo549 commented on #118
I issued pull request #119 to address this and to fix a problem that was occurring when your B2C policy names use mixed case and TasksController.AcquireTokenForScopes() calls were failing to silently acquire a token to access the sample API.

[2021-12-16 21:45] Turbo549 commented on #116
I issued pull request #119  to address this and to fix a problem that was occurring when your B2C policy names use mixed case and TasksController.AcquireTokenForScopes() calls were failing to silently acquire a token to access the sample API.

[2021-12-16 21:47] Turbo549 commented on #34
If your B2C policy names are actually mixed case (e.g. B2C_1_SignUpIn), you might be experiencing this.  I issued pull request #119  that addresses that case.

[2021-12-17 16:53] hercul1017 commented on #118
I had the same problem and adding "/tfp" to AadInstance parameter in web.config fixed it.

<add key="ida:AadInstance" value="https://parrotexamcom.b2clogin.com/tfp/{0}/{1}" />

I could login, however api call fails now.

Account always null, GetAccountAsync could not find account in AcquireTokenForScopes method.

 var account = await cca.GetAccountAsync(ClaimsPrincipal.Current.GetB2CMsalAccountIde

[2021-12-23 01:26] sshquack opened #120 "Upgrade to .NET 6 for macOS"
Trying to clone the sample and couldn't run this since it is pinned to legacy .NET 4.8.

https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/blob/474c6342bd148092be236a53f4cb9539952c9b82/TaskService/TaskService.csproj#L17

Please upgrade to the .NET 6 so it works on LTS version.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-02-04 21:20] aremo-ms commented on #120
@sshquack can you take a look into [this](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C) sample?
This is going to be .NET 6.0 LTS

[2022-02-04 21:29] sshquack commented on #120
@aremo-ms Yep I am aware of the other repo and I have been using it. But for some reason Google search shows this stale repo higher than the other repo
![Screenshot 000065@2x](https://user-images.githubusercontent.com/5678459/152605477-9242a23c-e375-427b-a3b3-b483250bf4ec.png)

So I would recommend archiving this repo and update the readme to point to the other repo...

[2022-02-04 23:31] aremo-ms commented on #120
@sshquack This specific sample is .NET Framework. It cannot be updated to .NET 6
Not sure about Google engine though
Closing the issue here then

[2022-02-04 23:31] #120 closed

[2022-02-20 04:08] imercerwillow commented on #10
This issue should be reopened. The suggested feature request link is broken, the problem still persists. Our customers are hitting this. I have *94* `x-cpim-...` cookies in my request and I cleared them yesterday.

[2022-02-25 13:31] LeTranAnhVu opened #124 "Why we need `ReaderWriterLockSlim` in OpenIdConnectCachingSecurityTokenProvider?"
The class OpenIdConnectCachingSecurityTokenProvider uses read/write lock of ReaderWriterLockSlim before get issuer and keys. I am wondering, why we need to use lock here? and what happen if we don't?

[2022-04-22 01:41] sam2332 commented on #10
Can we get some movement on fixing the failing state of azure demos?

[2022-05-06 09:38] Sipower commented on #10
Are you experiencing this issue in dev environment or in live production?

[2022-05-11 22:10] imercerwillow commented on #10
@Sipower In production. We have multiple websites using the same b2c which appears to amplify the problem, and it doesn't take long to run up a huge set of `x-ms-cpim-rc:...` cookies which eventually breaks login. Our customers only use one or two sites with the same B2C settings but they also hit this problem from time to time.

[2022-06-22 15:29] gsacavdm commented on #10
I no longer work at the Azure AD B2C team nor Microsoft, but FYI for others interested on this thread, the feature I reference a loooong time ago - [custom domains](https://feedback.azure.com/d365community/idea/506561f5-b825-ec11-b6e6-000d3a4f0789) is now available. That should help with this issue.

[2022-06-22 17:28] imercerwillow commented on #10
@gsacavdm  It doesn't help [much]. We are using a custom domain and still hit this issue regularly.

[2022-06-22 17:45] gsacavdm commented on #10
Ah, sorry about that  :S

I'm not sure what B2C is stashing in the cookies these days that results in this error when you have an isolated domain. I'll defer to the Microsoft team to provide more insights.

[2022-07-14 18:32] PriyaShan16 opened #129 "Metadata Endpoint Url cannot be accessed from the sample code"
Hi,
When trying to retrieve the meta data, I am getting an exception.  On trying to access the metadata endpoint url in the browser, I am getting error stating "resource not found".  The AADInstance name, tenant and defaultPolicy are updated as per our B2C tenant and it's policy.

Could you guide here to resolve the issue.

Thanks,
Priya

[2022-07-15 19:39] jayallen commented on #10
Just an FYI: I work on B2C team and our people are looking at this issue (not for the first time, I'll note--we've fixed this in the past).  We'll report back as soon as we have more information.

[2022-08-02 21:02] Yagamisama99 opened #130 "Bad Request open two tabs with the same web"
We have a problem (Bad Request) using Azure AD B2C, when open two tabs with the same web app, the steps to reproduce the behaviour is:

1.	Open the portal URL
2.	Click on Register as New User
3.	Copy URL to another tab on the same browser
4.	Click on Register as New User (on the second tab opened)
5.	Once the registration screen opens, click on “Login”
6.	Return to the first tab and click on “Logi

[2022-08-04 14:51] Yagamisama99 commented on #130
Can anyone helpus with this issue?

[2022-08-26 15:54] boylec commented on #46
I am currently experiencing this same issue.

However, it only occurs when running tests from automated tests (cypress)

When I login using chrome by hand w/ same account and everything I do not get a Bad Request response.

[2022-11-09 22:57] imercerwillow commented on #10
@jayallen Any update? Can we get this bug re-opened at least?

[2022-11-10 18:39] willfiddes opened #138 "HttpContext.GetOwinContext().Get<string>("Policy") is a global setting, not a per user session setting"
The OwinContext appears to be a global setting or at least it impacts the next users session.

1. User A goes to sign in and HttpContext.GetOwinContext().Get<string>("Policy") gets set with Policy A
3. User A gets redirected to B2C to sign in.
4. User B goes to sign in and HttpContext.GetOwinContext().Get<string>("Policy") gets set with Policy B
4. User B gets redirected to B2C to sign in.
5. User

[2022-11-11 00:32] jmprieur commented on #138
@jennyf19 : FYI for Id.Web 2.x

[2022-11-30 23:34] kurtwaldowski-echelon commented on #10
@jayallen @DannyJHM @imercerwillow Just happened again to a user in production today >.< hoping for a resolution soon